<!-- :::: Pie de Pagina ::::-->

<section id="contacto">
    <footer class="pie-pagina">
      <div class="grupo-1">
         
         <div class="box">
          <h2>SOBRE MI</h2>
          <p>Considero mis años de vida, como un camino que me permitió cocechar experiencia, que tomo de usufructo para seguir superándome.</p>
          
        </div>
      <div class="box">
          <h2>CONTACTO</h2>
          <div class="red-social">
               <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"> </a>
               <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"> </a>
               <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"> </a>
               <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"> </a>
               <a href="#" class="fa-solid fa-arrow-turn-up"></a>
          </div>
      </div>
      </div>
      <div class="grupo-2">
        <small>&copy; 2022<b>CV Project</b>-Todas los Derechos Reservados.</small>
    </div>
    </footer>
    </section>
