<ul class="navbar-nav">
          
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menú
    </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#home" class="nav-link">Home</a></li>
        <li><a class="dropdown-item" href="#sobremi" class="nav-link">Acerca de Mí</a></li>
        <li><a class="dropdown-item" href="#Experiencia" class="nav-link">Experiencia</a></li>
        <li><a class="dropdown-item" href="#Educacion" class="nav-link">Educacion</a></li>
        <li><a class="dropdown-item" href="#Habilidades" class="nav-link">Habilidades</a></li>
        <li><a class="dropdown-item" href="#Proyectos" class="nav-link">Proyectos</a></li>
        <li><a class="dropdown-item" href="#contacto" class="nav-link">Contacto</a></li>
      </ul>
    </li>
    
  </ul>

