<section id="Proyectos" class="Proyectos">
    <div class="container text-center">
      <div class="row">
        <div class="col">

          <button class= "btn btn-close-green edit skils1"

        *ngIf="mostrarDatos === true">
        <i class= "fa-solid fa-pencil" type="button" data-bs-toggle="modal" data-bs-target="#editSkil8"></i>
        
        
      </button>
      <button class= "btn btn-close-green edit skils1"

        *ngIf="mostrarDatos === true">
        
        <i class= "fa-solid fa-plus" type="button" data-bs-toggle="modal" data-bs-target="#editSkil9"></i>
        
      </button>

      <button class= "btn btn-close-green edit skils1"

        *ngIf="mostrarDatos === true">
        
        <i class= "fa-solid fa-trash" type="button" data-bs-toggle="modal" data-bs-target="#editSkil10"></i>
        
      </button>
          <h3><u>{{sectionPro.proyecto.nombre}}</u></h3>
          
          
        </div>
  
        <div class="col-10 mt-4">
          <div *ngFor="let project of projectsList" class="row">
            <div class="col-10">
          
          <h6><span class="rojo"><u>{{project.name}}</u></span></h6>
          <h6><span class="rojo">{{project.text}}</span></h6>
          
          <br>
          <br>
        </div>
        <div class="col-2">
          <img class="logo2" [src]="project.imglog">
        </div>
        
      </div>
    </div>
  </div>
  </div>
  </section><br><br>
